<mat-card elevation="5" fxFlex class="content">

    <mat-card-title>
        <h2>{{title}}</h2>
    </mat-card-title>

    <mat-card-content>
        <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
             
            <mat-form-field>
                <label>Old password: </label>
                <input formControlName="oldPassword" matInput required type="password" required>
            </mat-form-field> 
            <mat-form-field>
                <label>New password: </label>
                <input formControlName="password" matInput required type="password" required>
            </mat-form-field> 
            <mat-form-field>
                <label>Repeat new password: </label>
                <input formControlName="passwordRepeated" matInput required type="password" required>
            </mat-form-field> 
            <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Submit</button>
            <br>
            <button color="primary" mat-raised-button routerLink="/">Cancel</button> 
        </form>
        <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
        <br>
        <hr>
    </mat-card-content>
    
    
</mat-card>