<!-- <h1 mat-dialog-title>Nova slika</h1>
<div mat-dialog-content>
  <form>
    <div class="form-group">
      <input type="file" (change)="imageAdded($event)" accept=".jpg,.jpeg,.png">
      <input type="button" (click)="ok()" value="Dodaj sliku" class="btn1">
      <input type="button" (click)="onNoClick()" value="Odustani" class="btn1">
    </div>
  </form>
</div> -->


<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
    Launch demo modal
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>
