
  <!-- Header-->
  <header class="bg-dark py-5">
    <div class="container px-5">
        <div class="row gx-5 justify-content-center">
            <div class="col-lg-6">
                <div class="text-center my-5">
                    <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Wish&Fish!</h1>
                    <p class="lead text-white-50 mb-4">Everything you need for a holiday in a cottage, on a boat or for fishing!</p>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center"> 
                        <a class="btn btn-outline-light btn-lg px-4" style="width: 250px;" href="/subscriptions">Subscriptions</a>
                        <a class="btn btn-outline-light btn-lg px-4" style="width: 250px;" href="#!">Future reservations</a>
                    </div>
                    <div class="d-grid gap-3 d-sm-flex justify-content-sm-center" style="margin-top:20px;">
                        <a class="btn btn-primary btn-lg px-4 me-sm-3" style="width: 250px;" href="/reservation">New reservation</a> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!-- OFFER-->
<section class="py-5 border-bottom" id="features" style="margin-left: 15%;margin-right: 10%;">
    <div class="container px-5 my-5" >
        <div class="row gx-5 col">
            <div class="col-lg-4 mb-5 mb-lg-0" style="margin-bottom : 2%;">
                <div class="card text-center" style="width: 18rem;">
                    <img src= "assets/HomePage/cottage-winter.jpeg"class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Cottages</h5>
                      <p class="card-text">Are you for a relaxing holiday with family or crazy partiy with friends?</p><br>
                      <div class="row " style="width: 150px; margin-left: 21%">
                        <a href="/cottages" style="margin-bottom: 15px;" class="btn btn-primary">View offer</a>
                        <a href="#!" class="btn btn-primary">Booking history</a>
                    </div>
                    </div>
                  </div>
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0" style="margin-bottom : 2%;"> 
              <div class="card text-center" style="width: 18rem;">
                <img src= "assets/HomePage/boat-family.jpeg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Boats</h5>
                  <p class="card-text">Treat yourself to an unforgettable experience on boat!</p><br>
                  <div class="row " style="width: 150px; margin-left: 21%;">
                    <a href="/boats" style="margin-bottom: 15px;" class="btn btn-primary">View offer</a>
                    <a href="#!" class="btn btn-primary">Booking history</a>
                </div>
                </div>
              </div>
            </div> 
            <div class="col-lg-4 mb-5 mb-lg-0" style="margin-bottom : 2%;">
                <div class="card text-center" style="width: 18rem;">
                    <img src= "assets/HomePage/best-instructors.JPG" class="card-img-top">
                    <div class="card-body">
                      <h5 class="card-title">Fishing classes and adventures</h5>
                      <p class="card-text">Let's go on a fishing adventure!</p><br>
                      <div class="row " style="width: 150px; margin-left: 21%;">
                        <a href="/fishing" style="margin-bottom: 15px;" class="btn btn-primary">View offer</a>
                        <a href="#!" class="btn btn-primary">Booking history</a>
                    </div>
                    </div>
                  </div>
              </div> 
        </div>
    </div>
</section>
 <!-- Complaint-->
 <section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
        <div class="text-center mb-5">
            <h2 class="fw-bolder">An unpleasant experience?</h2>
            <p class="lead mb-0">We are sorry to hear that ...</p>
            <p class="lead mb-0">Let us know what happened. We are here for you and we are trying to improve our services! </p>
        </div> 
            <div class="d-grid d-sm-flex justify-content-sm-center">
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#!">Write a complaint</a> 
          </div> 
    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Wish&Fish 2022</p></div>
</footer> 
