<div class="bottom"> 

    <h1>Cottages 
        <button class="staticIcon" (click)="viewCottages()" mat-icon-button>
            <mat-icon *ngIf="showCottages">expand_more</mat-icon>
            <mat-icon *ngIf="!showCottages">expand_less</mat-icon>
        </button>  
    </h1>
    <mat-divider></mat-divider>

    <div class="row" *ngIf="showCottages"> 
        <div class="card"  *ngFor="let c of cottages">
            <img :src="assets/Images/{{c.image}}" class="card-img-top" sty alt="Missing image">
            <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                <strong>{{c.name}}</strong>
                </li> 
                <li style="height: 60px;" class="list-group-item">{{c.address}}</li> 
                <li style="height: 60px;" class="list-group-item"><strong>Owner:</strong> {{c.owner}}</li>  
                <li style="height: 60px;" class="list-group-item"><strong>From:</strong> {{c.start}}</li>  
                <li style="height: 60px;" class="list-group-item"><strong>To:</strong> {{c.end}}</li> 
                <li style="height: 60px;" class="list-group-item"><strong>Max persons:</strong> {{c.maxPersons}}</li>     
                <li style="height: 60px; text-align: center;" class="list-group-item">Total price: {{c.totalPrice}}€</li>  
                <li style="height: 80px;" class="list-group-item"><strong>Additional services:</strong> {{c.additionalServices}}</li>  
                <li class="list-group-item" > 
                    <label style="height: 35px;" *ngIf="c.inProgress" class="list-group-item"><strong>IN PROGRESS</strong></label>
                    <label style="height: 35px;" *ngIf="c.soon" class="list-group-item"><strong>STARTING SOON</strong></label>
                    <label style="height: 35px;" *ngIf="c.canceled" class="list-group-item"><strong>CANCELED</strong></label>
                    <button *ngIf="!c.inProgress && !c.soon && !c.canceled" class="small-btn" (click)="cancelReservation(c.id)"  data-toggle="modal" data-target="#reserve">Cancel reservation</button>            
                </li>  
            </ul> 
        </div>
    
    </div>

    <mat-divider></mat-divider>

    <h1>Boats 
        <button class="staticIcon" (click)="viewBoats()" mat-icon-button>
            <mat-icon *ngIf="showBoats">expand_more</mat-icon>
            <mat-icon *ngIf="!showBoats">expand_less</mat-icon>
        </button>  
    </h1>
    <mat-divider></mat-divider>

    <div class="row" *ngIf="showBoats"> 
        <div class="card"  *ngFor="let c of boats" >
            <img :src="assets/Images/{{c.image}}" class="card-img-top" sty alt="Missing image">
            <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                <strong>{{c.name}}</strong>
                </li> 
                <li style="height: 60px;" class="list-group-item">{{c.address}}</li> 
                <li style="height: 60px;" class="list-group-item"><strong>Owner:</strong> {{c.owner}}</li>  
                <li style="height: 60px;" class="list-group-item"><strong>From:</strong> {{c.start}}</li>  
                <li style="height: 60px;" class="list-group-item"><strong>To:</strong> {{c.end}}</li> 
                <li style="height: 60px;" class="list-group-item"><strong>Max persons:</strong> {{c.maxPersons}}</li>     
                <li style="height: 60px; text-align: center;" class="list-group-item">Total price: {{c.totalPrice}}€</li>  
                <li style="height: 80px;" class="list-group-item"><strong>Additional services:</strong> {{c.additionalServices}}</li>   
                <li class="list-group-item" > 
                    <label style="height: 35px;" *ngIf="c.inProgress" class="list-group-item"><strong>IN PROGRESS</strong></label>
                    <label style="height: 35px;" *ngIf="c.soon" class="list-group-item"><strong>STARTING SOON</strong></label>
                    <label style="height: 35px;" *ngIf="c.canceled" class="list-group-item"><strong>CANCELED</strong></label>
                    <button *ngIf="!c.inProgress && !c.soon && !c.canceled" class="small-btn" (click)="cancelReservation(c.id)"  data-toggle="modal" data-target="#reserve">Cancel reservation</button>            
                </li> 
            </ul> 
        </div>
    
    </div>

    <mat-divider></mat-divider>

    <h1>Fishing adventures 
        <button class="staticIcon" (click)="viewAdventures()" mat-icon-button>
            <mat-icon *ngIf="showAdventures">expand_more</mat-icon>
            <mat-icon *ngIf="!showAdventures">expand_less</mat-icon>
        </button>  
    </h1>
    <mat-divider></mat-divider>

    <div class="row" *ngIf="showAdventures"> 
        <div class="card" *ngFor="let c of adventures">
            <img :src="assets/Images/{{c.image}}" class="card-img-top" sty alt="Missing image">
            <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                <strong>{{c.name}}</strong>
                </li> 
                <li style="height: 60px;" class="list-group-item">{{c.address}}</li> 
                <li style="height: 60px;" class="list-group-item"><strong>Owner:</strong> {{c.owner}}</li>  
                <li style="height: 60px;" class="list-group-item"><strong>From:</strong> {{c.start}}</li>  
                <li style="height: 60px;" class="list-group-item"><strong>To:</strong> {{c.end}}</li> 
                <li style="height: 60px;" class="list-group-item"><strong>Max persons:</strong> {{c.maxPersons}}</li>     
                <li style="height: 60px; text-align: center;" class="list-group-item">Total price: {{c.totalPrice}}€</li>  
                <li style="height: 80px;" class="list-group-item"><strong>Additional services:</strong> {{c.additionalServices}}</li>   
                <li class="list-group-item" > 
                    <label style="height: 35px;" *ngIf="c.inProgress" class="list-group-item"><strong>IN PROGRESS</strong></label>
                    <label style="height: 35px;" *ngIf="c.soon" class="list-group-item"><strong>STARTING SOON</strong></label>
                    <label style="height: 35px;" *ngIf="c.canceled" class="list-group-item"><strong>CANCELED</strong></label>
                    <button *ngIf="!c.inProgress && !c.soon && !c.canceled" class="small-btn" (click)="cancelReservation(c.id)"  data-toggle="modal" data-target="#reserve">Cancel reservation</button>            
                </li> 
            </ul>  
        </div>
    
    </div>

</div> 

<!-- Modal for adding new review -->
<div class="modal fade" id="reserve" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Do you want to cancel reservation for {{name}}?</h5>
        </div> 
 
        <div class="modal-body" style="margin-left: 20%;"> 
            <label><strong>From: </strong>{{from}}</label><br>
            <label><strong>To:</strong> {{to}}</label><br>   
            <label><strong>Total price: </strong> {{totalPrice}}€</label> 
        </div>
        <div class="modal-footer" >
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" style="margin-right: 25%;"  class="btn btn-primary" (click)="submit()" data-dismiss="modal">Submit</button>
        </div>
    </div>
    </div>
</div>