<app-sidebar></app-sidebar>
<div style="margin-left: 25ch;">
    <div class="card-holder">
        <div class="row" style="margin: 20px; "> 
                <div class="card" style="margin: 29px; " *ngFor="let r of reservations">
                    <ul class="list-group list-group-flush">
                    
                        <li style="height: 70px;" class="list-group-item">Duration: {{r.appointment.startDate}} - {{r.appointment.endDate}}</li>  
                        <li style="height: 70px;" class="list-group-item">Max persons: {{r.appointment.maxPersons}}</li>  
                        <li style="height: 70px;" class="list-group-item">Price: {{r.appointment.price}}</li> 
                        <li style="height: 70px;" class="list-group-item">Client name: {{r.client.name}} {{r.client.surname}}</li> 
                        <li style="height: 70px;" class="list-group-item">Client email: {{r.client.email}}</li> 
                        <li style="height: 70px;" class="list-group-item">Client phone: {{r.client.phoneNumber}}</li> 
                        <li style="height: 70px;" class="list-group-item">Client address: {{r.client.address.street}} {{r.client.address.streetNumber}}, {{r.client.address.cityName}}</li> 
                        <li *ngIf="r.finished" style="height: 70px;" class="list-group-item">
                            <button class="btn btn-primary" data-toggle="modal" data-target="#addComment" (click)="findClient(r.client.email)">Add comment</button>
                        </li> 
                        <li *ngIf="!r.finished" style="height: 70px;" class="list-group-item">
                            Adding comment will be enabled after the reservation expires!
                        </li> 

                    </ul> 
                
                </div>
        </div>
    </div>

<!-- Modal for adding comment to the client -->
<div class="modal fade" id="addComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add comment</h5>
        </div>
           
        <div  class="container">

            <div class="form-check" style="margin-top: 2%; margin-bottom: 2%;">
                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" (change)="came($event)">
                <label class="form-check-label" for="flexCheckDefault">
                    The client did not show up at the agreed time
                </label>
            </div>

            <input [disabled]="!clientCame" [(ngModel)]="comment.content" type="text" class="form-control col" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter comment">
            
            <div  class="form-check" style="margin-top: 2%; margin-bottom: 2%;">
                <input [disabled]="!clientCame" [checked]="this.comment.bad" class="form-check-input" (change)="bad($event)" type="checkbox" value="" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Sanction the client
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addComment()">Save changes</button>
        </div>
    </div>
    </div>
</div>
<!-- Modal for adding comment to the client -->

</div>




