
  <!-- Header-->
  <header class="bg-dark py-5">
      <div class="container px-5">
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-6">
                  <div class="text-center my-5">
                      <h1 class="display-5 fw-bolder text-white mb-2">Welcome to Wish&Fish!</h1>
                      <p class="lead text-white-50 mb-4">Everything you need for a holiday in a cottage, on a boat or for fishing!</p>
                      <!--<div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                          <a class="btn btn-primary btn-lg px-4 me-sm-3" href="#features">Get Started</a>
                          <a class="btn btn-outline-light btn-lg px-4" href="#!">Learn More</a>
                      </div>-->
                  </div>
              </div>
          </div>
      </div>
  </header>
  <!-- VIKENDICE-->
  <section class="py-5 border-bottom" id="features">
      <div class="container px-5 my-5">
          <div class="row gx-5 col">
              <div class="col-lg-4 mb-5 mb-lg-0">
                  <h2 class="h4 fw-bolder">Cottages</h2>
                  <p>We all deserve to experience the joy of vacationing with the people we love the most.<br>
                    That’s why we’re here. With everything your family needs to make those moments together the most meaningful. Find vacation rentals, cabins, beach houses, unique homes and experiences around the world - all made possible on our site.
                    </p>
                  <div class="d-grid gap-3 d-sm-flex ">
                          <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/cottages">View our offer</a></div>
              </div>
              <div class="col-lg-4 mb-5 mb-lg-0">
                <img src= "assets/HomePage/cottage-winter.jpeg" style="width: 100%;">
              </div> 
          </div>
      </div>
  </section>

  <!-- BRODOVI -->
  <section class="py-5 border-bottom" id="features">
    <div class="container px-5 my-5">
        <div class="row gx-5 col">
            <div class="col-lg-4 mb-5 mb-lg-0">
              <img src= "assets/HomePage/boat-family.jpeg" style="width: 100%;">
            </div>
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h2 class="h4 fw-bolder">Boats</h2>
                <p>We offer a variety of options from full day rentals, to weekend rental packages. <br>You can trust our rental boats to keep you safe while exploring the beautiful waters of world. Experience an unforgettable experience with family or friends! </p>
                <div class="d-grid gap-3 d-sm-flex ">
                  <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/boats">View our offer</a></div>
            </div> 
        </div>
    </div>
</section>

<!-- INSTRUKTORI-->
<section class="py-5 border-bottom" id="features">
  <div class="container px-5 my-5">
      <div class="row gx-5 col">
          <div class="col-lg-4 mb-5 mb-lg-0">
              <h2 class="h4 fw-bolder">Fishing classes and adventures</h2>
              <p>New to fishing and have no idea how to start? With our instructors, you’ll be an accomplished angler in no time at all. <br>Fishing is great for families looking to bond in the great outdoors, and it proves that the joy of fishing can last a lifetime and beyond as it is passed down from generation to generation.<br>If you already have some knowelege in fishing, you can allways go on adventure with our instructors!</p>
              <div class="d-grid gap-3 d-sm-flex ">
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/instructors">View our offer</a></div>
          </div>
          <div class="col-lg-4 mb-5 mb-lg-0">
              <img src= "assets/HomePage/best-instructors.JPG" style="width: 100%;">
          </div> 
      </div>
  </div>
</section>

  <!-- Testimonials section-->
  <section class="py-5 border-bottom">
      <div class="container px-5 my-5 px-5">
          <div class="text-center mb-5">
              <h2 class="fw-bolder">Customer reviews</h2> 
          </div>
          <div class="row gx-5 justify-content-center">
              <div class="col-lg-6">
                  <!-- Testimonial 1-->
                  <div class="card mb-4">
                      <div class="card-body p-4">
                          <div class="d-flex">
                              <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                              <div class="ms-4">
                                  <p class="mb-1">Thank you for making our dream vacation possible! We loved our trip! Jelena, Dušan and Kristina are the best fishing instructors!</p>
                                  <div class="small text-muted">- Pera Perić, Trešnjevac, Serbia</div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <!-- Testimonial 2-->
                  <div class="card">
                      <div class="card-body p-4">
                          <div class="d-flex">
                              <div class="flex-shrink-0"><i class="bi bi-chat-right-quote-fill text-primary fs-1"></i></div>
                              <div class="ms-4">
                                  <p class="mb-1">The whole fishing instructors team was a huge help with learning new things. We will be hiring them again in the near future for additional help!</p>
                                  <div class="small text-muted">- Justin Bieber, Ontario, Canada</div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <!-- Contact section-->
  <section class="bg-light py-5">
      <div class="container px-5 my-5 px-5">
          <div class="text-center mb-5">
              <h2 class="fw-bolder">Rent cottage, boat or fishing instructor?</h2>
              <p class="lead mb-0">We'd love to help you</p>
          </div> 
              <div class="d-grid gap-3 d-sm-flex justify-content-sm-center">
                <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/signup">Sing up</a> 
            </div>
            
            <div class="d-grid gap-3 d-sm-flex justify-content-sm-center" style="margin-top: 10px;"> 
              <a class="btn btn-primary btn-lg px-4 me-sm-3" href="/login">Already have an account? Log in</a>
          </div> 
      </div>
  </section>
  <!-- Footer-->
  <footer class="py-5 bg-dark">
      <div class="container px-5"><p class="m-0 text-center text-white">Copyright &copy; Wish&Fish 2022</p></div>
  </footer> 
