<mat-card elevation="5" fxFlex class="content" style="margin-top:70px;">

    <mat-card-title>
        <h2>{{title}}</h2>
    </mat-card-title>

    <mat-card-content>
        <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
        <form *ngIf="editing" (ngSubmit)="onSubmit()"  [formGroup]="form">
            <div class="col">
                <div > 
                    <br><br><br><br>
                    <mat-form-field>
                        <label>First Name: </label>
                        <input formControlName="name" matInput required>
                    </mat-form-field> 
                    <mat-form-field>
                        <label>Last Name: </label>
                        <input formControlName="surname" matInput required>
                    </mat-form-field> 
                    <mat-form-field>
                        <label>Phone number: </label>
                        <input formControlName="phoneNumber" matInput required>
                    </mat-form-field>  
                </div>
                <div> 
                    <mat-form-field>
                        <label>Street: </label>
                        <input formControlName="street" matInput required>
                    </mat-form-field>  
                    <mat-form-field>
                        <label>Street number: </label>
                        <input formControlName="streetNumber" matInput required>
                    </mat-form-field>  
                    <mat-form-field>
                        <label>City: </label>
                        <input formControlName="cityName" matInput required>
                    </mat-form-field> 
                    <mat-form-field>
                        <label>Postal code: </label>
                        <input formControlName="postalCode" matInput required>
                    </mat-form-field> 
                    <mat-form-field>
                        <label>Country: </label>
                        <input formControlName="countryName" matInput required>
                    </mat-form-field> 
                </div>
             
            </div>
            <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Submit</button>
            <br>
            <button (click)="changeForm()" color="primary" mat-raised-button >Cancel</button> 
        </form>
        <form *ngIf="!editing" (ngSubmit)="onSubmit()"  [formGroup]="formBefore"> 
            <div class="row"> 
                    <div class="col-6 col-md-3"> 
                        <div > 
                            <mat-form-field> 
                                <input formControlName="nameSurname" matInput disabled>
                            </mat-form-field>  
                            <mat-form-field> 
                                <input formControlName="email" matInput>
                            </mat-form-field> 
                            <mat-form-field> 
                                <input formControlName="phoneNumber" matInput disabled>
                            </mat-form-field>  
                        </div>
                        <div> 
                            <mat-form-field> 
                                <input formControlName="address" matInput disabled>
                            </mat-form-field>   
                            <mat-form-field> 
                                <input formControlName="city" matInput disabled>
                            </mat-form-field>  
                            <mat-form-field> 
                                <input formControlName="country" matInput disabled>
                            </mat-form-field> 
                        </div> 
                </div>
                <div class="col-6 col-md-3">  
                        <br><br><br><br><br>
                        <p>You are currently a {{program}} member. <br></p>
                        <p>Discount you get: {{discount}}%<br></p>
                        <p>Points: {{points}}<br></p>
                        <p *ngIf="pointsNeeded>0">Missing points to the next level: {{pointsNeeded}} </p> 
                </div>
            </div>
            <button (click)="changeForm()" color="primary" mat-raised-button>Edit</button>  
            <br> 
            <button color="primary" mat-raised-button routerLink="/" >Cancel</button> 
        </form>
        <br>
        <hr>
    </mat-card-content>
    
    
</mat-card>