<!-- <div class="cottage-header-background">
    <div>
        <div class="cottage-info">
			<div class="right-div">
				<div class="inner1">
                    <form>
						<h3>{{cottage?.name}}</h3>
                		<div>
		                    <h5>Address: {{cottage?.address.street}} {{cottage?.address.streetNumber}}, {{cottage?.address.cityName}}</h5>
                            <h5>Rating: {{cottage?.rating}}</h5>
                		</div>
                       
					</form>
                </div>
            </div>

          <div>
            <img src="assets/Images/{{cottage.coverImage}}" class="rounded-circle inner2">
          </div>
        </div>

    </div>
 </div>  -->
<div> 

<div class="sidebar-container">
    
    <ul class="sidebar-navigation">
        <!-- <li class="header">Reservations</li> -->
        <li>
        <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i> Edit availability
        </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Add new reservation
            </a>
            </li>
        <li>
        <a href="#">
            <i class="fa fa-tachometer" aria-hidden="true"></i> Add new action
        </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Reservation history
            </a>
            </li>        
        <li>
        <a href="#">
            <i class="fa fa-cog" aria-hidden="true"></i> Cottage report
        </a>
        </li>       
    </ul>
</div>

<div class="cottage-header-background">
    <div>
        <div class="cottage-info">
			<div class="right-div">
				<div class="inner1">
                    <form>
						<h3>{{cottage.name}}</h3>
                		<div>
		                    <h5>Address: {{cottage.address.street}} {{cottage.address.streetNumber}}, {{cottage.address.cityName}}</h5>
                            <h5>Rating: {{cottage.rating}}</h5>
                		</div>
                       
					</form>
                </div>
            </div>

          <div>
            <img src="assets/Images/{{cottage.coverImage}}" class="rounded-circle inner2">
          </div>
        </div>

    </div>
 </div> 
</div> 

 <!-- <section class="bg-light py-5">
    <div class="container px-5 my-5 px-5">
       <p>{{cottage?.description}}</p>
    </div>
</section> -->

