<div> 

 <!--SideBar-->
<div class="sidebar-container ">
    <ul class="sidebar-navigation">
        <li>
        <a href="#">
            <i class="fa fa-home" aria-hidden="true"></i> Edit availability
        </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Add new reservation
            </a>
            </li>
        <li>
        <a href="#">
            <i class="fa fa-tachometer" aria-hidden="true"></i> Add new action
        </a>
        </li>
        <li>
            <a href="#">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Reservation history
            </a>
            </li>        
        <li>
        <a href="#">
            <i class="fa fa-cog" aria-hidden="true"></i> Cottage report
        </a>
        </li>       
    </ul>
</div>
</div>
 <!--SideBar-->

<div>
    <!-- Background image -->
    <div class="bg-image d-flex justify-content-center align-items-center background-image-color">
        <div class="background-image" [style.background-image]="userImage"></div>
        <h1 class="mb-0 background-image-text">{{cottage.name}}</h1>
    </div>
    <!-- Background image -->
</div>

<!-- <div style="margin-left: 220px;">
    <section class="bg-light py-5" style="height: 350px;">
        <p>f</p>
    </section>
</div> -->


