<div style="overflow: hidden">
  <app-sidebar></app-sidebar>


<div class="inner">
  <!-- Left info -->
    <form>
        <div class="form-group" class="center">
            <label style="margin-bottom: 10px;">Name:</label>
            <input
            style="font-weight: bold;"
            type="text"
            class="form-control"
            [(ngModel)]="this.cottage.name" name="name"
            />
        </div>
        <div class="form-group" class="center">
            <label style="margin-bottom: 10px;">Description:</label>
            <input
            style="font-weight: bold;"
            type="text"
            class="form-control"
            [(ngModel)]="this.cottage.description" name="description"
            />
        </div>
        <div class="form-group" class="center">
            <label style="margin-bottom: 10px;">Price per day:</label>
            <input
            style="font-weight: bold;"
            type="text"
            class="form-control"
            [(ngModel)]="this.cottage.pricePerDay" name="pricePerDay"

            />
        </div>

        <div class="form-group" class="center">
          <label style="margin-bottom: 10px;">Number of rooms:</label>
          <input
          style="font-weight: bold;"
          type="text"
          class="form-control"
          [(ngModel)]="this.cottage.numberOfRooms" name="numberOfRooms"
  
          />
        </div>
        <div class="form-group" class="center">
            <label style="margin-bottom: 10px;">Bed number per room:</label>
            <input
            style="font-weight: bold;"
            type="text"
            class="form-control"
            [(ngModel)]="this.cottage.bedsPerRoom" name="bedNumberPerRoom"

            />
        </div>
        
        <div class="form-group" class="center">
          <label style="margin-bottom: 10px;">Street:</label>
          <input
          style="font-weight: bold;"
          type="text"
          class="form-control"
          [(ngModel)]="this.cottage.address.street" name="street"

          />
      </div>
    </form>
  <!-- Left info -->



  <!-- Right info -->

  <form> 
    <div class="form-group" class="center">
      <label style="margin-bottom: 10px;">Street number:</label>
      <input
      style="font-weight: bold;"
      type="text"
      class="form-control"
      [(ngModel)]="this.cottage.address.streetNumber" name="streetNumber"

      />
    </div>
    <div class="form-group" class="center">
        <label style="margin-bottom: 10px;">Postal code:</label>
        <input
        style="font-weight: bold;"
        type="text"
        class="form-control"
        [(ngModel)]="this.cottage.address.postalCode" name="postalCode"

        />
    </div>   
    <div class="form-group" class="center">
        <label style="margin-bottom: 10px;">Longitude:</label>
        <input
        style="font-weight: bold;"
          type="text"
          class="form-control"
          [(ngModel)]="this.cottage.address.longitude" name="longitude"

        />
    </div>
    <div class="form-group" class="center">
        <label style="margin-bottom: 10px;">Latitude:</label>
        <input
        style="font-weight: bold;"
          type="text"
          class="form-control"
          [(ngModel)]="this.cottage.address.latitude" name="latitude"

        />
    </div>

    <div class="form-group" class="center">
        <label style="margin-bottom: 10px;">City name:</label>
        <input
        style="font-weight: bold;"
          type="text"
          class="form-control"
          [(ngModel)]="this.cottage.address.cityName" name="cityName"

        />
    </div>

    <div class="form-group" class="center">
        <label style="margin-bottom: 10px;">Country name:</label>
        <input
        style="font-weight: bold;"
          type="text"
          class="form-control"
          [(ngModel)]="this.cottage.address.countryName" name="countryName"

        />
    </div>

      
    <!-- Buttons -->
    <div style="justify-content: space-between;  flex-direction: row;  display: flex;">
        <button type="submit" class="btn btn-primary" (click)= "cancel()">Cancel</button> 
        <button type="submit" class="btn btn-primary" [disabled]="invalid" (click)= "submit()">Submit</button>
    </div>
    <!-- Buttons -->

  </form>
<!-- Right info -->

</div>
