<div class="sidebar-container">
    <!-- <div class="sidebar-logo">
        Home
      </div> -->
    <ul class="sidebar-navigation">
        <li>
            <a class="sidebar-click" (click)="home()">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
        </li>
        <li>
            <a class="sidebar-click" (click)="editInfo()">
                <i class="fa fa-home" aria-hidden="true"></i> Edit basic info
            </a>
        </li>
        <li>
            <a class="sidebar-click" data-toggle="modal" data-target="#availabilityBoat">
                <i class="fa fa-home" aria-hidden="true"></i> Select availability
            </a>
        </li>
        <li>
            <a class="sidebar-click" (click)="showFreeAppointments()">
                <i class="fa fa-home" aria-hidden="true"></i> Show actions
            </a>
        </li>
        <li>
            <a class="sidebar-click">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Add new reservation
            </a>
            </li>
        <li>
            <a class="sidebar-click" (click)="addAction()">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Add new action
            </a>
        </li>
        <li>
            <a class="sidebar-click">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Reservation history
            </a>
            </li>        
        <li>
            <a class="sidebar-click">
                <i class="fa fa-cog" aria-hidden="true"></i> Boat report
            </a>
        </li>       
    </ul>
</div>