<div>

    <div>
        <app-boat-sidebar></app-boat-sidebar>
    </div>


    <div style="margin-left: 25ch;">
        
        <div>
            <!-- Background image -->
            <div class="bg-image d-flex justify-content-center align-items-center background-image-color">
                <div class="background-image" [style.background-image]="userImage"> </div>
                <h1 class="mb-0 background-image-text">{{boat.name}}</h1>      
                <!-- <button *ngIf="userRole === 'CLIENT' && !cottage.isSubscribed"class="btn btn-primary mb-0 " 
                style="margin-left: 3%;" (click)="subscribe()">Subscribe</button>
                <button *ngIf="userRole === 'CLIENT' && cottage.isSubscribed" class="btn btn-primary mb-0 "
                style="margin-left: 3%;" (click)="unsubscribe()">Unsubscribe</button> -->           
            </div>
            
            <!-- Background image -->
        </div>

    </div>


</div>