<div>

    <div>
        <app-boat-sidebar></app-boat-sidebar>
    </div>


    <div style="margin-left: 25ch;">
        
        <div>
            <!-- Background image -->
            <div class="bg-image d-flex justify-content-center align-items-center background-image-color">
                <div class="background-image" [style.background-image]="userImage"> </div>
                <h1 class="mb-0 background-image-text">{{boat.name}}</h1>      
                <!-- <button *ngIf="userRole === 'CLIENT' && !cottage.isSubscribed"class="btn btn-primary mb-0 " 
                style="margin-left: 3%;" (click)="subscribe()">Subscribe</button>
                <button *ngIf="userRole === 'CLIENT' && cottage.isSubscribed" class="btn btn-primary mb-0 "
                style="margin-left: 3%;" (click)="unsubscribe()">Unsubscribe</button> -->           
            </div>
            
            <!-- Background image -->
        </div>

        <!-- Cards -->
        <div>
            <div class="row">
                <div class="card1">
                    <div class="col">
                        <h5 class="text-white row" style="margin-top: 5%; margin-left: 10px;">Our address:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">{{boat.address.street}} {{boat.address.streetNumber}}, {{boat.address.postalCode}} {{boat.address.cityName}}, {{boat.address.countryName}}</h6>
                    </div>
                </div>
        
                <div class="card2">
                    <div class="col">
                        <h5 class="text-white row" style="margin-top: 5%; margin-left: 10px;">Description:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">{{boat.description}}</h6>
                    </div>  
                </div>
        
                <div class="card2">
                    <div class="col">
                        <!-- <h5 class="text-white row" style="margin-top: 5%; margin-left: 10px;">Type:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">{{boat.type}}</h6> -->
                        <!-- <h5 class="text-white row" style="margin-top: 7%; margin-left: 10px;">Price per day:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">cottage.pricePerDay$</h6> -->


                        <h6 class="text-white row" style="margin-top: 5%; margin-left: 10px; margin-right: 10px; font-size: 18px;">Type: {{boat.type}}</h6>
                        <h6 class="text-white row" style="margin-top: 5%; margin-left: 10px; margin-right: 10px; font-size: 18px;">Length: {{boat.length}}</h6>
                        <h6 class="text-white row" style="margin-top: 5%; margin-left: 10px; margin-right: 10px; font-size: 18px;">Engine number: {{boat.engineNumber}}</h6>
                        <h6 class="text-white row" style="margin-top: 5%; margin-left: 10px; margin-right: 10px; font-size: 18px;">Engine power: {{boat.enginePower}}</h6>
                        <h6 class="text-white row" style="margin-top: 5%; margin-left: 10px; margin-right: 10px; font-size: 18px;">Max speed: {{boat.maxSpeed}}</h6>

                    </div>
                </div>


                <div class="card4">
                    <div class="col">
                        <h5 class="text-white row" style="margin-top: 5%; margin-left: 10px;">Capacity:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">{{boat.capacity}}</h6>
                        <h5 class="text-white row" style="margin-top: 7%; margin-left: 10px;">Price per hour:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">{{boat.pricePerHour}}$</h6>
                        
                    </div>
                </div>
            </div> 
        </div>
        <!-- Cards -->
    <!-- Gallery -->
    <div class="container" style="margin-left: 0.7%; max-width: 100%;">
        
        <h1 class="fw-light text-center text-lg-start mt-4 mb-0">{{boat.name}} Gallery</h1>
        <hr class="mt-2 mb-5">

        <div class="d-grid gap-3 d-sm-flex justify-content-sm-center" style="margin-top: -20px; margin-left: 90%; margin-bottom: 20px;">
            <!-- Button trigger modal -->
            <button *ngIf="ifOwner()" type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
                Add photo
            </button>
            
            <!-- Modal -->
            <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Add photo</h5>
                    </div>
                    <div class="modal-body">
                        <input type="file" (change)="selectImage($event)">
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" (click)="addImage()" data-dismiss="modal">Save changes</button>
                    </div>
                </div>
                </div>
            </div>
        </div>

        <!-- Carousel -->
        <div>
            <div id="carouselExampleControls" class="carousel slide w-100" data-bs-ride="carousel">
                <div class="carousel-inner" >
                    <div class="carousel-item active">
                        <img src= "assets/Images/{{boat.coverImage}}" class="d-block w-100" alt="...">
                        <button *ngIf="ifOwner()" class="btn btn-primary dlt-img-btn" (click)=deleteImage(boat.coverImage)>Delete photo</button>
                    </div>

                    
                    <div class="carousel-item"  *ngFor="let img of images;">
                        <img src="assets/Images/{{img.path}}" class="d-block w-100" alt="...">
                        <button *ngIf="ifOwner()" class="btn btn-primary dlt-img-btn" (click)=deleteImage(img.path)>Delete photo</button>
                    </div>
                </div>

                <button class="carousel-control-prev"  type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" style="top: 50px;" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
        <!-- Carousel -->

    </div>
    <!-- Gallery -->


    <!-- Additional services and rules-->
<div class="container row" style="max-width: 100%; margin-left: 10px; padding: 0%;">
    <div class="col" style="margin-right: 20px;">
        <h1 class="fw-light text-center text-lg-start mt-4 mb-0" style="display: inline-block;">Additional services</h1>
        <button *ngIf="ifOwner()" class="btn btn-primary" type="submit" style="float: right; margin-right: 15px; margin-top: 30px;"  data-toggle="modal" data-target="#addService">Add service</button>

        <hr class="mt-2 mb-5">

        <table class="table" style="width: 100%;">
            <caption style="caption-side:inherit;">Additional services</caption>

            <thead>
                <tr>
                    <th scope="col" style="width: 45%;">Name</th>
                    <th scope="col" style="width: 45%;">Price</th>
                    <th *ngIf="ifOwner()" scope="col" >Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let a of additionalServices">
                    <td>{{a.name}}</td>
                    <td>{{a.price}}</td>
                    <td *ngIf="ifOwner()">
                        <button class="btn btn-primary" type="submit" (click)="deleteServices(a.id)">Delete</button>
                    </td>
                </tr>   
            </tbody>
        </table>
    </div>

    <div class="col" style="margin-right: 1%;" >   
        <h1 class="fw-light text-center text-lg-start mt-4 mb-0"  style="display: inline-block;">Rules</h1>
        <button *ngIf="ifOwner()" class="btn btn-primary" type="submit" style="float: right; margin-right: 7px; margin-top: 30px;"  data-toggle="modal" data-target="#addRule">Add rule</button>

        <hr class="mt-2 mb-5">

        <table class="table col" style="margin-right: 10%;">
            <caption style="caption-side:unset;">Rules</caption>

            <thead>
                <tr>
                    <th scope="col" style="width: 90%;">Name</th>
                    <th  *ngIf="ifOwner()" scope="col" >Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let r of rules">
                    <td>{{r.content}}</td>
                    <td *ngIf="ifOwner()">
                        <button class="btn btn-primary" type="submit" (click)="deleteRule(r.id)">Delete</button>
                    </td> 
                </tr>   
            </tbody>
        </table>
    </div>

</div>
<!-- Additional services -->

<!-- Equipments -->
<div class="container row" style="max-width: 100%; margin-left: 10px; padding: 0%;">
    <div class="col" style="margin-right: 15px;">
        <h1 class="fw-light text-center text-lg-start mt-4 mb-0" style="display: inline-block;">Navigation equipments</h1>
        <button *ngIf="ifOwner()" class="btn btn-primary" type="submit" style="float: right; margin-right: 15px; margin-top: 30px;"  data-toggle="modal" data-target="#AddNavigationEquipments">Add equipments</button>

        <hr class="mt-2 mb-5">

        <table class="table" style="width: 100%;">
            <caption style="caption-side:inherit;">Navigation equipments</caption>

            <thead>
                <tr>
                    <th scope="col" style="width: 90%;">Name</th>
                    <th *ngIf="ifOwner()" scope="col" >Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor = "let a of navigationEquipments">
                    <td>{{a.name}}</td>
                    <td *ngIf="ifOwner()">
                        <button class="btn btn-primary" type="submit" (click)="deleteServices(a.id)">Delete</button>
                    </td>
                </tr>   
            </tbody>
        </table>
    </div>

    <div class="col" style="margin-right: 1%;" >   
        <h1 class="fw-light text-center text-lg-start mt-4 mb-0"  style="display: inline-block;">Fishing equipments</h1>
        <button *ngIf="ifOwner()" class="btn btn-primary" type="submit" style="float: right; margin-right: 7px; margin-top: 30px;"  data-toggle="modal" data-target="#AddEquipments">Add rule</button>

        <hr class="mt-2 mb-5">

        <table class="table col" style="margin-right: 10%;">
            <caption style="caption-side:unset;">Fishing equipments</caption>

            <thead>
                <tr>
                    <th scope="col" style="width: 90%;">Name</th>
                    <th  *ngIf="ifOwner()" scope="col" >Delete</th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor = "let r of fishingEquipments">
                    <td>{{r.name}}</td>
                    <td *ngIf="ifOwner()">
                        <button class="btn btn-primary" type="submit" (click)="deleteRule(r.id)">Delete</button>
                    </td> 
                </tr>   
            </tbody>
        </table>
    </div>

</div>
<!-- Equipments --> 


    </div>


</div>



<!-- Modal for adding new additional service -->
<div class="modal fade" id="addService" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add additional service</h5>
        </div>
           
        <div  class="container">
                <!-- <label for="exampleInputEmail1" class="col" style="width: 25px;">Name:</label> -->
                <input [(ngModel)]="newAdditionalService.name" type="text" class="form-control col" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name"> <br>
                <input [(ngModel)]="newAdditionalService.price" type="text" class="form-control col" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter price" pattern="^[0-9]+([,.][0-9]+)?$"> 

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addService()" data-dismiss="modal">Save changes</button>
        </div>
    </div>
    </div>
</div>
<!-- Modal for adding new additional service -->


<!-- Modal for adding new navigation equipments -->
<div class="modal fade" id="AddNavigationEquipments" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add navigation equipments</h5>
        </div>
           
        <div  class="container">
                <input [(ngModel)]="newEquipment.name" type="text" class="form-control col" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter name"> <br>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addNavigationEquipment()" data-dismiss="modal">Save changes</button>
        </div>
    </div>
    </div>
</div>
<!-- Modal for adding new navigation equipments -->




<!-- Modal for adding new rule -->
<div class="modal fade" id="addRule" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add additional service</h5>
        </div>
           
        <div  class="container">
                <!-- <label for="exampleInputEmail1" class="col" style="width: 25px;">Name:</label> -->
                <input [(ngModel)]="newRule.content" type="text" class="form-control col" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter content"> <br>
                <!-- <input [(ngModel)]="newAdditionalService.price" type="text" class="form-control col" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter price" pattern="^[0-9]+([,.][0-9]+)?$">  -->

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" (click)="addRule()" data-dismiss="modal">Save changes</button>
        </div>
    </div>
    </div>
</div>

