<div>

    <div>
        <app-boat-sidebar></app-boat-sidebar>
    </div>


    <div style="margin-left: 25ch;">
        
        <div>
            <!-- Background image -->
            <div class="bg-image d-flex justify-content-center align-items-center background-image-color">
                <div class="background-image" [style.background-image]="userImage"> </div>
                <h1 class="mb-0 background-image-text">{{boat.name}}</h1>      
                <!-- <button *ngIf="userRole === 'CLIENT' && !cottage.isSubscribed"class="btn btn-primary mb-0 " 
                style="margin-left: 3%;" (click)="subscribe()">Subscribe</button>
                <button *ngIf="userRole === 'CLIENT' && cottage.isSubscribed" class="btn btn-primary mb-0 "
                style="margin-left: 3%;" (click)="unsubscribe()">Unsubscribe</button> -->           
            </div>
            
            <!-- Background image -->
        </div>


        <div>
            <div class="row">
                <div class="card1">
                    <div class="col">
                        <h5 class="text-white row" style="margin-top: 5%; margin-left: 10px;">Our address:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">{{boat.address.street}} {{boat.address.streetNumber}}, {{boat.address.postalCode}} {{boat.address.cityName}}, {{boat.address.countryName}}</h6>
                    </div>
                </div>
        
                <div class="card2">
                    <div class="col">
                        <h5 class="text-white row" style="margin-top: 5%; margin-left: 10px;">Description:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">{{boat.description}}</h6>
                    </div>  
                </div>
        
                <div class="card2">
                    <div class="col">
                        <!-- <h5 class="text-white row" style="margin-top: 5%; margin-left: 10px;">Type:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">{{boat.type}}</h6> -->
                        <!-- <h5 class="text-white row" style="margin-top: 7%; margin-left: 10px;">Price per day:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">cottage.pricePerDay$</h6> -->


                        <h6 class="text-white row" style="margin-top: 5%; margin-left: 10px; margin-right: 10px; font-size: 18px;">Type: {{boat.type}}</h6>
                        <h6 class="text-white row" style="margin-top: 5%; margin-left: 10px; margin-right: 10px; font-size: 18px;">Length: {{boat.length}}</h6>
                        <h6 class="text-white row" style="margin-top: 5%; margin-left: 10px; margin-right: 10px; font-size: 18px;">Engine number: {{boat.engineNumber}}</h6>
                        <h6 class="text-white row" style="margin-top: 5%; margin-left: 10px; margin-right: 10px; font-size: 18px;">Engine power: {{boat.enginePower}}</h6>
                        <h6 class="text-white row" style="margin-top: 5%; margin-left: 10px; margin-right: 10px; font-size: 18px;">Max speed: {{boat.maxSpeed}}</h6>

                    </div>
                </div>


                <div class="card4">
                    <div class="col">
                        <h5 class="text-white row" style="margin-top: 5%; margin-left: 10px;">Capacity:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">{{boat.capacity}}</h6>
                        <h5 class="text-white row" style="margin-top: 7%; margin-left: 10px;">Price per hour:</h5>
                        <h6 class="text-white row" style="margin-top: 7%; margin-left: 10px; margin-right: 10px;">{{boat.pricePerHour}}$</h6>
                        
                    </div>
                </div>
            </div> 
        </div>
        <!-- Cards -->

    </div>


</div>