<div class="bottom"> 
    <form (ngSubmit)="search()" [formGroup]="form">
    <div class="input-group rounded" style="margin: 10px; margin-left: 50px; margin-top: 30px;"> 
      <input type="text" class="input-border" formControlName="name" placeholder="Search by name"/>  
      <input type="text" class="input-border" formControlName="address" placeholder="Search by address"/>  
      <input type="number" step="0.01" min="0.0" max="5.0" class="input-border" formControlName="rating" placeholder="Minimal rating"/>  
      <input type="text" class="input-border" formControlName="description" placeholder="Search by description"/> 
      <button  class="input-group-text border-0 btn" type="submit">Search</button> 
      <button  class="input-group-text border-0 btn" (click)="clear()">Clear</button> 
    </div>
    </form>
    
    <div   style="margin-left: 30px; ">
    <div class="row" > 
            <div class="card" style="margin: 30px; " *ngFor="let c of instructors">
                <img :src="assets/Images/{{c.coverImage}}" class="card-img-top" sty alt="Missing image">
                <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                <b>{{c.name}}</b>
                </li>
                <li style="height: 70px;" class="list-group-item">{{c.address}}</li>  
                <li style="height: 70px;" *ngIf="c.rating !== '0.0'" class="list-group-item">Average rating: {{c.rating}}</li>
                <li style="height: 70px;" *ngIf="c.rating == '0.0'" class="list-group-item">The restaurant currently does not have any ratings.</li> 
                <li style="height: 70px;" class="list-group-item">{{c.description}}</li> 
                </ul> 
        </div>
    </div>
    
    </div>