.inner {
    padding: 20px;
    background: #fff;
    border-style: solid;
    max-width: 1240px;
    margin-left: 250px;
    margin-right: auto;
    margin-top: 30px;
    margin-bottom: auto;
    display: flex;
     }