<mat-toolbar class="app-navbar" color="primary">
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <button *ngIf="clientOrUnregistered()" mat-button mat-ripple routerLink="/instructors">
                <span>Fishing instructors</span>
            </button>
            <button *ngIf="clientOrUnregistered()" mat-button mat-ripple routerLink="/boats">
                <span>Boats</span>
            </button>
            <button *ngIf="clientOrUnregistered()" mat-button mat-ripple routerLink="/cottages">
                <span>Cottages</span>
            </button>
            <button *ngIf="isCottageOwner()" mat-button mat-ripple routerLink="/cottage-profile">
                <span>My cottages</span>
            </button>
            <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/signup">
                <span>Sign up</span>
            </button>
            <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/login">
                <span>Login</span>
            </button>
            <button *ngIf="isAdmin()" class="greeting-button" mat-button 
                mat-ripple>
                <span>Register Admin</span>
            </button>
            <button *ngIf="isAdmin()" class="greeting-button" mat-button 
                mat-ripple routerLink="/accept-registration">
                <span>Accept Registration</span>
            </button>
            <button *ngIf="hasSignedIn()" [matMenuTriggerFor]="userMenu" class="greeting-button" mat-button mat-ripple>
                <span>Profile</span>
            </button>
            <!-- <button *ngIf="hasSignedIn()" [matMenuTriggerFor]="userMenu" class="greeting-button" mat-icon-button
                mat-ripple>
                <span>Menu</span>
            </button> -->
            <mat-menu #userMenu [overlapTrigger]="false" class="app-header-userMenu" yposition="below">
                <app-user-menu></app-user-menu>
            </mat-menu>
        </div>
    </div>
</mat-toolbar>