<mat-toolbar class="app-navbar" color="primary">
    <div class="left">
        <button mat-button mat-ripple (click)="home()">
            <span>Home</span>
        </button>
    </div> 
    <div class="right">
        <div fxFlex="1 1 auto" fxLayout="row" fxLayoutAlign="flex-end center">
            <!--CLIENT AND UNREGISTERED-->
            <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/cottages">
                <span>Cottages</span>
            </button>
            <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/boats">
                <span>Boats</span>
            </button>
            <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/fishing">
                <span>Fishing</span>
            </button>

            <button *ngIf="isClient()" style="margin-right: 10px;" mat-button mat-ripple routerLink="/reservation">
                <span>New reservation</span>
            </button>
            <button *ngIf="isClient()" style="margin-right: 10px;" mat-button mat-ripple routerLink="upcoming-reservations">
                <span>My reservations</span>
            </button>
            
            <button *ngIf="isClient()" [matMenuTriggerFor]="offer" class="greeting-button" mat-icon-button
            mat-ripple style="margin-right: 30px;">
            <span>Offer</span>
            </button> 
            <mat-menu #offer [overlapTrigger]="false" class="app-header-userMenu" yposition="below">
                <app-offer-menu></app-offer-menu>
            </mat-menu>

            <button *ngIf="isClient()"  class="greeting-button" mat-icon-button routerLink="booking-history" 
                mat-ripple style="margin-right: 90px;">
                <span>Booking history</span>
            </button> 
            
            <!---->

            <!--COTTAGE OWNER-->
            <button *ngIf="isCottageOwner()" mat-button mat-ripple routerLink="/cottage-profile">
                <span>My cottages</span>
            </button>
            <button *ngIf="isCottageOwner()" mat-button mat-ripple routerLink="/add-cottage">
                <span>Add cottage</span>
            </button>
            <button *ngIf="(isCottageOwner() && isSelectedCottage())" [matMenuTriggerFor]="cottageOptions" class="greeting-button" mat-button mat-ripple>
                <span>Options</span>
            </button>
            <mat-menu #cottageOptions [overlapTrigger]="false" class="app-header-cottageOptions" yposition="below">
                <app-cottage-options-menu></app-cottage-options-menu>
            </mat-menu>
            <!---->

            <!--BOAT OWNER-->
            <button *ngIf="isBoatOwner()" mat-button mat-ripple routerLink="/my-boats">
                <span>My boats</span>
            </button>
            <button *ngIf="isBoatOwner()" mat-button mat-ripple routerLink="/add-boat">
                <span>Add boat</span>
            </button>
            <!---->

            <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/signup">
                <span>Sign up</span>
            </button>
            <button *ngIf="!hasSignedIn()" mat-button mat-ripple routerLink="/login">
                <span>Login</span>
            </button>
            <button *ngIf="isAdmin()" class="greeting-button" mat-button 
                mat-ripple routerLink="/admin-signup">
                <span>Register Admin</span>
            </button>
            <button *ngIf="isAdmin()" class="greeting-button" mat-button 
                mat-ripple routerLink="/accept-registration">
                <span>Accept Registration</span>
            </button>
 
            <button *ngIf="hasSignedIn()" [matMenuTriggerFor]="userMenu" class="greeting-button" mat-button mat-ripple>
                <span>Profile</span>
            </button>

            <mat-menu #userMenu [overlapTrigger]="false" class="app-header-userMenu" yposition="below">
                <app-user-menu></app-user-menu>
            </mat-menu>
            
        </div>
    </div>
</mat-toolbar>