<app-boat-sidebar></app-boat-sidebar>

<div style="margin-left: 25ch; height: 87%;">

    <div class="inner" >
        <!-- Left info -->
        <form style="display:grid; justify-content: space-between;">
            <div class="form-group" class="center" style="width: 37vw;">
                <label style="margin-bottom: 10px;">Start date:</label>
                <mat-form-field class="row" appearance="fill" style="width: 100%;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker" [min]="todayDate" [(ngModel)]="startDate" name="startDate">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group" class="center">
                <label style="margin-bottom: 10px;">End date:</label>
                <mat-form-field class="row" appearance="fill" style="width: 100%;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker1" [min]="startDate" [(ngModel)]="endDate" name="endDate" >
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1 ></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="form-group" class="center">
                <label style="margin-bottom: 10px;">Expiration date:</label>
                <mat-form-field class="row" appearance="fill" style="width: 100%;">
                    <mat-label>Choose a date</mat-label>
                    <input matInput [matDatepicker]="picker2" [min]="todayDate" [max]="startDate" [(ngModel)]="expirationDate" name="expirationDate" >
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2 ></mat-datepicker>
                </mat-form-field>
            </div>
    
            <div class="form-group" class="center">
                <label style="margin-bottom: 10px;">Max persons:</label>
                <input
                style="font-weight: bold;"
                type="text"
                class="form-control"
                [(ngModel)]="maxPersons" name="maxPersons"
        
                />
            </div>
            <div class="form-group" class="center">
                <label style="margin-bottom: 10px;">Price:</label>
                <input
                style="font-weight: bold;"
                type="text"
                class="form-control"
                [(ngModel)]="price" name="price"
    
                />
            </div>
            
        </form>
        <!-- Left info -->
    
    
    
        <!-- Right info -->
    
        <form> 
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <table class="table table-bordered">
                    <caption style="caption-side: top;">Additional services</caption>

                    <thead>
                        <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Select</th>

                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let a of additionalServices">
                        <td>{{a.name}}</td>
                        <td>
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="customCheck1" style="display: inline-block;" (change)="selected(a.id, $event)">
                            </div>
                        </td>
                        </tr>
                        
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            
        <!-- Buttons -->
        <div style="justify-content: space-between;  flex-direction: row;  display: flex;">
            <button type="submit" class="btn btn-primary" (click)= "cancel()">Cancel</button> 
            <button type="submit" class="btn btn-primary" (click)= "submit()">Submit</button>
        </div>
        <!-- Buttons -->
    </form>
    <!-- Right info -->
    
    </div>
</div>