<div class="bottom"> 

    <h1>Cottages 
        <button class="staticIcon" (click)="viewCottages()" mat-icon-button>
            <mat-icon *ngIf="showCottages">expand_more</mat-icon>
            <mat-icon *ngIf="!showCottages">expand_less</mat-icon>
        </button>  
    </h1>
    <mat-divider></mat-divider>

    <div class="row" *ngIf="showCottages"> 
        <div class="card"  *ngFor="let c of cottages">
            <img :src="assets/Images/{{c.image}}" class="card-img-top" sty alt="Missing image">
            <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                <strong>{{c.name}}</strong>
                </li>
                <li style="height: 70px;" class="list-group-item">{{c.address}}</li> 
                <li style="height: 70px;" class="list-group-item"><strong>Owner:</strong> {{c.owner}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>From:</strong> {{c.start}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>To:</strong> {{c.end}}</li>   
                <li style="height: 70px; text-align: center;" class="list-group-item">Total price: {{c.totalPrice}}€</li>  
                <li    class="list-group-item"><strong>Additional services:</strong> {{c.additionalServices}}</li>  
                <li style="height: 35px;" *ngIf="c.isAction" class="list-group-item"><strong>ACTION</strong></li>
                <li style="height: 35px;" *ngIf="!c.isAction" class="list-group-item"><strong>NORMAL RESERVATION</strong></li> 
                <li class="list-group-item"> 
                    <!-- <button class="small-btn" (click)="unsubscribeCottage(c.id)">Unsubscribe</button>   -->
                </li> 
            </ul> 
        </div>
    
    </div>

    <mat-divider></mat-divider>

    <h1>Boats 
        <button class="staticIcon" (click)="viewBoats()" mat-icon-button>
            <mat-icon *ngIf="showBoats">expand_more</mat-icon>
            <mat-icon *ngIf="!showBoats">expand_less</mat-icon>
        </button>  
    </h1>
    <mat-divider></mat-divider>

    <div class="row" *ngIf="showBoats"> 
        <div class="card"  *ngFor="let c of boats" >
            <img :src="assets/Images/{{c.image}}" class="card-img-top" sty alt="Missing image">
            <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                <strong>{{c.name}}</strong>
                </li>
                <li style="height: 70px;" class="list-group-item">{{c.address}}</li> 
                <li style="height: 70px;" class="list-group-item"><strong>Owner:</strong> {{c.owner}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>From:</strong> {{c.start}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>To:</strong> {{c.end}}</li>   
                <li style="height: 70px; text-align: center;" class="list-group-item">Total price: {{c.totalPrice}}€</li>  
                <li    class="list-group-item"><strong>Additional services:</strong> {{c.additionalServices}}</li>  
                <li style="height: 35px;" *ngIf="c.isAction" class="list-group-item"><strong>ACTION</strong></li>
                <li style="height: 35px;" *ngIf="!c.isAction" class="list-group-item"><strong>NORMAL RESERVATION</strong></li>  
                <li class="list-group-item"> 
                <!-- <button class="small-btn" (click)="unsubscribeBoat(c.id)">Unsubscribe</button>   -->
                </li> 
            </ul> 
        </div>
    
    </div>

    <mat-divider></mat-divider>

    <h1>Fishing adventures 
        <button class="staticIcon" (click)="viewAdventures()" mat-icon-button>
            <mat-icon *ngIf="showAdventures">expand_more</mat-icon>
            <mat-icon *ngIf="!showAdventures">expand_less</mat-icon>
        </button>  
    </h1>
    <mat-divider></mat-divider>

    <div class="row" *ngIf="showAdventures"> 
        <div class="card" *ngFor="let c of adventures">
            <img :src="assets/Images/{{c.image}}" class="card-img-top" sty alt="Missing image">
            <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                <strong>{{c.name}}</strong>
                </li>
                <li style="height: 70px;" class="list-group-item">{{c.address}}</li> 
                <li style="height: 70px;" class="list-group-item"><strong>Instructor:</strong> {{c.owner}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>From:</strong> {{c.start}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>To:</strong> {{c.end}}</li>   
                <li style="height: 70px; text-align: center;" class="list-group-item">Total price: {{c.totalPrice}}€</li>  
                <li    class="list-group-item"><strong>Additional services:</strong> {{c.additionalServices}}</li>  
                <li style="height: 35px;" *ngIf="c.isAction" class="list-group-item"><strong>ACTION</strong></li>
                <li style="height: 35px;" *ngIf="!c.isAction" class="list-group-item"><strong>NORMAL RESERVATION</strong></li>  
                <li class="list-group-item"> 
                <li class="list-group-item"> 
                    <!-- <button class="small-btn" (click)="unsubscribeAdventure(c.id)">Unsubscribe</button>   -->
                </li> 
            </ul>  
        </div>
    
    </div>

</div> 