<div class="bottom"> 

    <h1>Cottages 
        <button class="staticIcon" (click)="viewCottages()" mat-icon-button>
            <mat-icon *ngIf="showCottages">expand_more</mat-icon>
            <mat-icon *ngIf="!showCottages">expand_less</mat-icon>
        </button>  
    </h1>
    <mat-divider></mat-divider>

    <div class="row" *ngIf="showCottages"> 
        <div class="card"  *ngFor="let c of cottages">
            <img :src="assets/Images/{{c.image}}" class="card-img-top" sty alt="Missing image">
            <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                <strong>{{c.name}}</strong>
                </li>
                <li style="height: 70px;" class="list-group-item">{{c.address}}</li> 
                <li style="height: 70px;" class="list-group-item"><strong>Owner:</strong> {{c.owner}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>From:</strong> {{c.start}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>To:</strong> {{c.end}}</li>   
                <li style="height: 70px; text-align: center;" class="list-group-item">Total price: {{c.totalPrice}}€</li>  
                <li style="height: 80px;" class="list-group-item"><strong>Additional services:</strong> {{c.additionalServices}}</li>  
                <li class="list-group-item" style="height: 70px;">  
                    <label style="height: 35px;" *ngIf="c.commentedEntity && c.commentedOwner" class="list-group-item"><strong>Reviewed</strong></label>
                    <button *ngIf="!c.commentedEntity || !c.commentedOwner" class="small-btn" (click)="openReview(c.id)"data-toggle="modal" data-target="#addReview">Leave review</button>  
                </li> 
            </ul> 
        </div>
    
    </div>

    <mat-divider></mat-divider>

    <h1>Boats 
        <button class="staticIcon" (click)="viewBoats()" mat-icon-button>
            <mat-icon *ngIf="showBoats">expand_more</mat-icon>
            <mat-icon *ngIf="!showBoats">expand_less</mat-icon>
        </button>  
    </h1>
    <mat-divider></mat-divider>

    <div class="row" *ngIf="showBoats"> 
        <div class="card"  *ngFor="let c of boats" >
            <img :src="assets/Images/{{c.image}}" class="card-img-top" sty alt="Missing image">
            <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                <strong>{{c.name}}</strong>
                </li>
                <li style="height: 70px;" class="list-group-item">{{c.address}}</li> 
                <li style="height: 70px;" class="list-group-item"><strong>Owner:</strong> {{c.owner}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>From:</strong> {{c.start}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>To:</strong> {{c.end}}</li>   
                <li style="height: 70px; text-align: center;" class="list-group-item">Total price: {{c.totalPrice}}€</li>  
                <li style="height: 80px;" class="list-group-item"><strong>Additional services:</strong> {{c.additionalServices}}</li>   
                <li class="list-group-item" style="height: 70px;"> 
                    <label style="height: 35px;" *ngIf="c.commentedEntity && c.commentedOwner" class="list-group-item"><strong>Reviewed</strong></label>
                    <button *ngIf="!c.commentedEntity || !c.commentedOwner" class="small-btn" (click)="openReview(c.id)">Leave review</button>  
                </li> 
            </ul> 
        </div>
    
    </div>

    <mat-divider></mat-divider>

    <h1>Fishing adventures 
        <button class="staticIcon" (click)="viewAdventures()" mat-icon-button>
            <mat-icon *ngIf="showAdventures">expand_more</mat-icon>
            <mat-icon *ngIf="!showAdventures">expand_less</mat-icon>
        </button>  
    </h1>
    <mat-divider></mat-divider>

    <div class="row" *ngIf="showAdventures"> 
        <div class="card" *ngFor="let c of adventures">
            <img :src="assets/Images/{{c.image}}" class="card-img-top" sty alt="Missing image">
            <ul class="list-group list-group-flush">
                <li class = "list-group-item">
                <strong>{{c.name}}</strong>
                </li>
                <li style="height: 70px;" class="list-group-item">{{c.address}}</li> 
                <li style="height: 70px;" class="list-group-item"><strong>Instructor:</strong> {{c.owner}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>From:</strong> {{c.start}}</li>  
                <li style="height: 70px;" class="list-group-item"><strong>To:</strong> {{c.end}}</li>   
                <li style="height: 70px; text-align: center;" class="list-group-item">Total price: {{c.totalPrice}}€</li>  
                <li style="height: 80px;" class="list-group-item"><strong>Additional services:</strong> {{c.additionalServices}}</li>  
 
                <li class="list-group-item" style="height: 70px;"> 
                    <label style="height: 35px;" *ngIf="c.commentedEntity && c.commentedOwner" class="list-group-item"><strong>Reviewed</strong></label>
                    <button *ngIf="!c.commentedEntity || !c.commentedOwner" class="small-btn" (click)="openReview(c.id)">Leave review</button>  
                </li> 
            </ul>  
        </div>
    
    </div>

</div> 


<!-- Modal for adding new review -->
<div class="modal fade" id="addReview" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Add review</h5>
        </div>

        <div class="dropdown" style="margin-left: 25%; margin-top: 1rem;">
            <select class="btn2 btn-secondary dropdown-toggle"  style="text-align: center;" [(ngModel)]="newReview.isOwner">
                <option [value]=null selected disabled>Leaving review for?</option>
                <option  [value] = true [disabled]="ownerCommented">{{owner}}</option>
            <option [value]= false [disabled]="propertyCommented">{{property}}</option> 
            </select>
            
          </div>

        <div  class="container mb-3" >
        <ngb-rating [max]="5" [(rate)]="newReview.rate" [formControl]="ctrl" style="margin-left: 21%;">
            <ng-template let-fill="fill" let-index="index">
              <span class="star"  [class.filled]="fill === 100">&#9733;</span>
            </ng-template>
          </ngb-rating>
          <div class="form-text small">
            <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
            <div *ngIf="ctrl.invalid" class="text-danger">Please rate us</div>
          </div>
          <hr> 

          <label>Rate: <b>{{newReview.rate}}</b></label>
        </div>

        <div  class="container">
                <!-- <label for="exampleInputEmail1" class="col" style="width: 25px;">Name:</label> -->
                <input [(ngModel)]="newReview.comment" type="text" class="form-control col" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Please leave your review"> <br> 

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" [disabled]="newReview.rate == 0 || newReview.comment == '' || newReview.isOwner == null" (click)="sendReview()" data-dismiss="modal">Send review</button>
        </div>
    </div>
    </div>
</div>