<div class="sidebar-container">
    <!-- <div class="sidebar-logo">
        Home
      </div> -->
    <ul class="sidebar-navigation ">
        <li>
            <a class="sidebar-click" (click)="home()">
                <i class="fa fa-home" aria-hidden="true"></i> Home
            </a>
        </li>
        <li>
            <a class="sidebar-click" (click)="editInfo()">
                <i class="fa fa-home" aria-hidden="true"></i> Edit basic info
            </a>
        </li>
        <li>
            <a class="sidebar-click" data-toggle="modal" data-target="#availability">
                <i class="fa fa-home" aria-hidden="true"></i> Add free appointment
            </a>
        </li>
        <li>
            <a class="sidebar-click" (click)="showAppointments()">
                <i class="fa fa-home" aria-hidden="true"></i> Free appointments
            </a>
        </li>
        <li>
            <a class="sidebar-click">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Add new reservation
            </a>
            </li>
        <li>
            <a class="sidebar-click" (click)="addAction()">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Add new action
            </a>
        </li>
        <li>
            <a class="sidebar-click" (click)="reservationHistory()">
                <i class="fa fa-tachometer" aria-hidden="true"></i> Reservation history
            </a>
            </li>        
        <li>
            <a class="sidebar-click" (click)="report()">
                <i class="fa fa-cog" aria-hidden="true"></i> Cottage report
            </a>
        </li>       
    </ul>
</div>



<!-- Modal for cotage availability -->
<div class="modal fade" id="availability" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLongTitle">Select cottage availability</h5>
        </div>
           
        <div  class="container"  style="margin-bottom: 3%; margin-top: 3%;">
            <label style="margin-bottom: 10px; margin-left: 2%;">Start date:</label>
            <mat-form-field appearance="fill" style="margin-left: 7%; width: 70%;">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [min]="todayDate" [(ngModel)]="startDate" >
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker ></mat-datepicker>
            </mat-form-field>

            <div class="row">
                <label class="col" style="margin-bottom: 10px; margin-left: 2%; max-width: 22%;">Start time:</label>
                <div class="col">
                    <input disabled type="time" id="form3Example1q" class="form-control" style="width: 93%;" [(ngModel)]="startTime"/>
                </div>
            </div>

            <br>
            <label style="margin-bottom: 10px; margin-left: 2%;">End date:</label>
            <mat-form-field appearance="fill" style="margin-left: 8.5%; width: 70%;">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker1" [min]="startDate" [(ngModel)]="endDate">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>

            <div class="row">
                <label class="col" style="margin-bottom: 10px; margin-left: 2%; max-width: 22%;">End time:</label>
                <div class="col">
                    <input disabled type="time" id="form3Example1q" class="form-control" style="width: 93%;" [(ngModel)]="endTime"/>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary"  data-dismiss="modal" (click)="editAvailability()">Save changes</button>
        </div>
    </div>
    </div>
</div>