<mat-card elevation="5" fxFlex class="content">

    <mat-card-title>
        <h2>{{title}}</h2>
    </mat-card-title>

    <mat-card-content>
        <p *ngIf="notification" [class]="notification.msgType">{{notification.msgBody}}</p>
        <form (ngSubmit)="onSubmit()" *ngIf="!submitted" [formGroup]="form">
            <mat-form-field>
                <label>First Name: </label>
                <input formControlName="firstname" matInput required>
            </mat-form-field>
            <mat-form-field>
                <label>Last Name: </label>
                <input formControlName="lastname" matInput required>
            </mat-form-field>
            <mat-form-field>
                <label>Email: </label>
                <input formControlName="email" matInput required>
            </mat-form-field> 
            <mat-form-field>
                <label>Phone number: </label>
                <input formControlName="phoneNumber" matInput required>
            </mat-form-field> 
            <mat-form-field>
                <label>Password: </label>
                <input formControlName="password" matInput required type="password" required>
            </mat-form-field> 
            <mat-form-field>
                <label>Repeat password: </label>
                <input formControlName="passwordRepeated" matInput required type="password" required>
            </mat-form-field> 
            <button [disabled]="!form.valid" color="primary" mat-raised-button type="submit">Sign up</button>
            <br>
            <button color="primary" mat-raised-button routerLink="/login" >Have an account? Log in</button>
        </form>
        <br>
        <mat-spinner *ngIf="submitted" mode="indeterminate"></mat-spinner>
        <br>
        <hr>
    </mat-card-content>
    
</mat-card>